<div class="my-4 mx-2">

  <div class="page-header border-secondary pl-2" style="border-left:4px solid; border-bottom:1px solid">
    <h1>All Images</h1>
  </div>

  <div class="my-3 mx-2">
    <div class="row">
      <% @photos.each do |photo| %>
        <!-- condition for finding photo of current user -->
        <% if current_user.id == photo.user_id %>
          <div class="col-md-2 px-1">
            <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
              <!-- Rendering image -->
              <li class="nav-item">
                <a href="<%= photo_path(photo) %>" class="media-object">
                  <img src="<%=photo.image.url %>" class="img-responsive">
                </a>
              </li>
              <!-- Button to delete image -->
              <li class="nav-item text-center">
                <%= link_to 'Remove', photo_path(photo), class: 'btn btn-light btn-sm', method: :delete, data: {confirm: 'Are you sure?'} %>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
